[submodule "Natives/external/DBNumberedSlider"]
	path = Natives/external/DBNumberedSlider
	url = https://github.com/khanhduytran0/DBNumberedSlider
[submodule "Natives/external/fishhook"]
	path = Natives/external/fishhook
	url = https://github.com/khanhduytran0/fishhook
	branch = jev/main
[submodule "Natives/external/AFNetworking"]
	path = Natives/external/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking
[submodule "Natives/external/ZeroTierFramework"]
	path = Natives/external/ZeroTierFramework
	url = https://github.com/zerotier/zerotier-sockets-apple-framework.git
[submodule "ThirdParty/ZalithLauncher2"]
	url = https://github.com/ZalithLauncher/ZalithLauncher2.git
	path = ThirdParty/ZalithLauncher2
